@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Foldit:wght@600&family=Fredoka:wght@500&family=Poppins:ital,wght@0,300;1,200&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 20px;
    margin: 20px;
}

.instext{
    font-size: 50px;
    background-image: linear-gradient(to right, white, rgb(197, 228, 255));
    border: none;
    box-shadow: 5px 5px rgb(255, 94, 0);
    font-family: 'Bungee Spice', sans-serif;
    text-align: center;    
}

.inspara{
    font-size: 13px;
    background-image: linear-gradient(to right, white, rgb(197, 228, 255));
    border: none;
    font-weight: 800;
    box-shadow: 7px 7px rgb(255, 94, 0);
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.flex a{
    margin: 0px 100px 0px 100px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 4px 4px rgb(255, 94, 0);
}

.flex #back{
    background-color: white;
}

.flex #play{
    background-color: aliceblue;
}

.paradiv{
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 680px) {
    .flex{
        flex-direction: column;
    }
    .flex #play{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 32%;
        top: 960px;
    }
}